<!-- 頁首區塊 -->
<div class="bg-md-blue">
    <header class="container px-sm-default mb-0">
        <div class="applyTitle pb-5 pb-md-6">
            <section class="d-flex justify-content-between align-items-center">
                <div class="div" style="width: 24px; height: 24px"></div>
                <h2  class="text-dark-grey web-ch-h3 mobile-ch-h3">
                    短網址產生器
                </h2>
                <div class="div" style="width: 24px; height: 24px"></div>
            </section>
        </div>
    </header>
</div>
<!-- 主要內容區塊 -->
<div class="bg-md-blue">
    <main class="container px-0">
        <div class="outerContainer">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="container">
                <label class="web-ch-h6 mobile-ch-h6 text-grey-0">請輸入網址</label>
                <input class="form-control" [(ngModel)]="longUrl" targetSelectAll/>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="container">
                <div fxLayoutAlign="center center"><button class="btn btn-outline-primary fullsize" (click)="addUrl(longUrl)">產生短網址</button></div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="container">
                短網址:
                <a href="#/shortcut" (click)="goToLink(longUrl)">{{shortUrl}}</a>
            </div>

            <!--<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="container">-->
                <!--<a href="#" onclick="window.open(' http://tw.yahoo.com ', 'Yahoo', config='height=500,width=500');">雅虎開新視窗</a>-->
            <!--</div>-->

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="container">
                <div fxLayoutAlign="center center"><button class="btn btn-outline-primary fullsize" (click)="goMain()">回首頁</button></div>
            </div>

        </div>
    </main>
</div>
