<!-- 頁首區塊 -->
<div class="bg-md-blue">
    <header class="container px-sm-default mb-0">
        <div class="applyTitle pb-5 pb-md-6">
            <section class="d-flex justify-content-between align-items-center">
                <div class="div" style="width: 24px; height: 24px"></div>
                <h2  class="text-dark-grey web-ch-h3 mobile-ch-h3">
                    您的交易資訊
                </h2>
                <div class="div" style="width: 24px; height: 24px"></div>
            </section>
        </div>
    </header>
</div>
<!-- 主要內容區塊 -->
<div class="bg-md-blue">
    <main class="container px-0">
        <form class="data-board container px-default px-md-8 py-md-6 mb-4 mb-md-5">

            <fieldset class="mt-1">
                <div class="form-group row">
                    <label class="col-sm-12">親愛的客戶您好：</label>
                    <div class="col-sm-12">
                        您代辦事項共 {{tradeList.length}} 筆：
                    </div>
                </div>
            </fieldset>

            <fieldset class="mt-2">
                <div class="form-group row">
                    <label class="col-sm-12">
                        <ol >
                            <div *ngFor="let trade of tradeList">
                                <li *ngIf="trade.type == 1">
                                    <div >交易類型：存款</div>
                                    <div class="col-sm-3">存入方式：{{trade.hasPassbook ? '有摺' : '無摺' }}</div>
                                    <div class="col-sm-3">存入帳號：{{trade.depositAccount}}</div>
                                    <div class="col-sm-3">是否存入本人帳號：{{trade.isSelfAccount ? '是' : '否' }}</div>
                                    <div class="col-sm-3">臺幣金額：{{trade.money}}</div>
                                    <div class="col-sm-3">存摺備註：{{trade.memo}}</div>
                                </li>
                                <li *ngIf="trade.type == 2">
                                    <div class="col-sm-3">交易類型：提款</div>
                                    <div class="col-sm-3">提取方式：{{trade.hasPassbook ? '現金有摺' : '現金無摺' }}</div>
                                    <div class="col-sm-3">提取帳號：{{trade.withdrawAccount}}</div>
                                    <div class="col-sm-3">臺幣金額：{{trade.money}}</div>
                                    <div class="col-sm-3">存摺備註：{{trade.memo}}</div>
                                </li>
                                <li *ngIf="trade.type == 3">
                                    <div class="col-sm-3">交易類型：本行轉帳</div>
                                    <div class="col-sm-3">轉出帳號：{{trade.remitterAccount }}</div>
                                    <div class="col-sm-3">轉入帳號：{{trade.payeeAccount }}</div>
                                    <div class="col-sm-3">轉帳金額：{{trade.money }}</div>
                                    <div class="col-sm-3">存摺備註：{{trade.memo }}</div>
                                </li>
                                <li *ngIf="trade.type == 4">
                                    <div class="col-sm-3">交易類型：他行匯款</div>
                                    <div class="col-sm-3">收款人帳號：{{trade.payeeAccount}}</div>
                                    <div class="col-sm-3">收款人戶名：{{trade.payeeName}}</div>
                                    <div class="col-sm-3">扣款帳號：{{trade.remitterAccount}}</div>
                                    <div class="col-sm-3">匯款金額：{{trade.money}}</div>
                                    <div class="col-sm-3">匯款人姓名：{{trade.remitterName}}</div>
                                    <div class="col-sm-3">匯款人ID: {{trade.remitterIdno}}</div>
                                    <div class="col-sm-3">匯款人電話: {{trade.remitterPhone}}</div>
                                    <div class="col-sm-3">留言: {{trade.memo}}</div>
                                </li>
                            </div>

                        </ol>
                    </label>
                </div>
            </fieldset>

            <fieldset class="mt-2">
                <div class="form-group row">
                    <label class="col-sm-12">此功能僅為預填表單，仍需臨櫃完成交易，預約交易截止日民國 {{111}} 年 {{1}} 月 {{1}} 日。</label>
                </div>
            </fieldset>
        </form>

        <!-- 底部按鈕區塊 -->
        <div class="">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <div fxLayoutAlign="center center"><button class="btn btn-primary actionButton" (click)="goMain()">結束</button></div>
            </div>
        </div>
    </main>
</div>