.outerContainer {
  padding: 5px;
  //border: 1px solid #b6b6b6;
  box-sizing: content-box;
}

div.container {
  color: #eeeeee;
  margin-bottom: 30px;
}

div.container > div {
  height: 80px;
  width: 280px;
  color: #0044AD;
  //border: 2px solid #0044AD;
  background-color: transparent;
}

.fullsize {
  height: 100%;
  width: 100%;
}
